:root {
  --input-font: 2.4rem;

  --Green-400: hsl(172, 67%, 45%);
  --Green-900: hsl(183, 100%, 15%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

body {
  background-color: var(--Grey-200);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100dvh;
}

form {
  flex: 1;
  width: 100%;
  max-width: 521px;
  padding: 2.2rem;
  background-color: var(--White);
  border-radius: 20px 20px 0 0;
}

fieldset {
  margin-bottom: 3rem;
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--Grey-500);
}

p {
  font-size: 1.4rem;
}

.form__input-container {
  position: relative;
}

.form__input-container input {
  background-color: var(--Grey-50);
}

.form__input-icon {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
}

.form__input-icon.icon__bill {
  background: url("./images/icon-dollar.svg") no-repeat;
}

.form__input-icon.icon__people {
  background: url("./images/icon-person.svg") no-repeat;
}

input[type="radio"] {
  display: none;
}

input[type="number"] {
  border: none;
  border-radius: 0.4rem;
  text-align: right;
}

.input-l {
  width: 100%;
  padding: 0.6rem 2rem;
  font-size: 2.4rem;
}

.form__tip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.6rem;
}

.form__tip label {
  color: white;
  background-color: var(--Green-900);
}

.form__tip label:hover,
.form__tip label:has(input[type="radio"]:checked) {
  background-color: var(--Green-400);
  color: var(--Green-900);
}

.form__tip label,
.form__tip input {
  font-size: 2.4rem;
  padding: 0.6rem 0;
  text-align: center;
  border-radius: 0.4rem;
}

.form__total {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2.4rem 2rem;
  color: var(--White);
  background-color: var(--Green-900);
  border-radius: 10px;
}

.total__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__total .total__container {
  margin-bottom: 4rem;
}

.total__description :first-child {
  font-size: 1.6rem;
}

.total__description :last-child {
  color: var(--Grey-400);
}

.total__display {
  color: var(--Green-400);
  font-size: 3rem;
}

.reset__button {
  padding: 0.6rem;
  background-color: var(--Green-400);
  color: var(--Green-900);
  border: none;
  font: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.reset__button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 48.1rem) {
  body {
    display: flex;
    min-height: 100dvh;
    align-items: center;
  }

  main {
    width: 100%;
    min-height: unset;
  }

  form {
    display: flex;
    align-items: stretch;
    gap: 3rem;
    width: 90%;
    max-width: 900px;
    border-radius: 20px;
  }

  form > div:first-child {
    flex: 1.5;
    padding: 1rem;
  }

  form :first-child fieldset:last-child {
    margin-bottom: 0;
  }

  .form__total {
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    padding: 4rem;
  }
}
